@page "/task/{taskId:long}/attempts"
@using Microsoft.EntityFrameworkCore
@using ElgamalSandbox.Core.Entities
@using ElgamalSandbox.Core.Enums
@using ElgamalSandbox.Core.Exceptions
@inject IDbContext DbContext

<MudBreadcrumbs Items="_items"></MudBreadcrumbs>

<MudTable Items="@_elements" Hover="true">
    <HeaderContent>
        <MudTh>Время</MudTh>
        <MudTh>Тип</MudTh>
        <MudTh>Тестов пройдено</MudTh>
        <MudTh>Инфо</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Время">@context.RunDate.ToLocalString()}"</MudTd>
        <MudTd DataLabel="Тип">
            @switch (context.Type)
            {
                case AttemptTypes.Typical:
                    <MudText>Ручной запуск</MudText>
                    break;
                case AttemptTypes.Test:
                    <MudText>Тест</MudText>
                    break;  
                default:
                    throw new ArgumentOutOfRangeException();
            }
        </MudTd>

        <MudTd DataLabel="Тестов пройдено">
            @context.TestPassed
        </MudTd>
        <MudTd DataLabel="Инфо">
            <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowBtnPressCode(context.Id))">@(context.ShowCode ? "Скрыть" : "Показать") код</MudButton>
            
            @if (context.Type == AttemptTypes.Typical)
            {
                <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowBtnPressResult(context.Id))">@(context.ShowResult ? "Скрыть" : "Показать") результат</MudButton>
            }
        </MudTd>
    </RowTemplate>
    <ChildRowContent>
        @if (context.ShowCode)
        {
            <MudTr>
            <td colspan="4">
                <MudCard >
                    <MudMarkdown Value="@($"```python\n{@context.Code}\n```")" CodeBlockTheme="CodeBlockTheme.GithubDark"></MudMarkdown>
                </MudCard>
            </td>
            </MudTr>
        }
        
        @if (context is {Type: AttemptTypes.Typical, ShowResult: true})
        {
            <MudTr>
                <td colspan="4">
                    <MudCard >
                        <MudMarkdown Value="@($"```\n{@context.Result}\n```")" CodeBlockTheme="CodeBlockTheme.GithubDark"></MudMarkdown>
                    </MudCard>
                </td>
            </MudTr>
        }
    </ChildRowContent>
</MudTable>

@code {
    private List<BreadcrumbItem> _items;
    private TaskDescription _task;
    private List<Item> _elements;

    [Parameter]
    public long TaskId { get; set; }

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        _task = await DbContext.TaskDescriptions
                    .Include(x => x.Attempts)
                        .ThenInclude(x => x.Tests)
                    .Include(x => x.Tests)
                    .FirstOrDefaultAsync(x => x.Id.ToString() == TaskId.ToString())
                ?? throw new EntityNotFoundException<TaskDescription>(TaskId);

        _elements = _task.Attempts
            .OrderByDescending(x => x.CreatedAt)
            .Select(x => new Item(
                x.Id,
                x.Code,
                x.IsSucceeded,
                x.Type,
                x.CreatedAt,
                x.Type == AttemptTypes.Test
                    ? $"{x.Tests.Count(x => x.Result == TestResult.Success)} из {x.Tests.Count}"
                    : "",
                x.Result))
            .ToList();

        _items =
        [
            new BreadcrumbItem("Tasks", href: "/tasks"),
            new BreadcrumbItem(_task.Name, href: $"/task/{TaskId}")
        ];

    }

    private void ShowBtnPressCode(long id)
    {
        var item = _elements.First(f => f.Id == id);
        item.ShowCode = !item.ShowCode;
        item.ShowResult = false;
    }

    private void ShowBtnPressResult(long id)
    {
        var item = _elements.First(f => f.Id == id);
        item.ShowResult = !item.ShowResult;
        item.ShowCode = false;
    }

    record Item(long Id, string Code, bool IsSuccessful, AttemptTypes Type, DateTime RunDate, string TestPassed, string Result)
    {
        public bool ShowCode { get; set; }
        public bool ShowResult { get; set; }
    };

}
